demos/Plugin.Maui.XTiltIndicator.Sample/.vs/
demos/Plugin.Maui.XTiltIndicator.Sample/Plugin.Maui.XTiltIndicator.Sample/obj/
src/Plugin.Maui.XTiltIndicator/.vs/
src/Plugin.Maui.XTiltIndicator/Plugin.Maui.XTiltIndicator/obj/
src/Plugin.Maui.XTiltIndicator/Plugin.Maui.XTiltIndicator/bin/
demos/Plugin.Maui.XTiltIndicator.Sample/bin/
demos/Plugin.Maui.XTiltIndicator.Sample/obj/
demos/.vs/
